openapi: 3.0.3
info:
  contact:
    email: support@loginradius.com
    name: LoginRadius
    url: https://www.loginradius.com
  description: Partner IAM API
  title: Partner IAM API
  version: 1.0.0
servers:
- description: Production API Endpoint
  url: https://api.loginradius.com/v2/manage
security:
- ApiKeyAuth: []
  ApiSecretAuth: []
- ClientIdAuth: []
  ClientSecretAuth: []
- M2MBearerAuth: []
tags:
- description: Invitation actions
  name: Invitations
- description: Manage organizations and their settings
  name: Organization
- description: Manage identity provider connections for organizations
  name: OrganizationConnections
- description: Manage group to role mappings for organization connections
  name: OrganizationConnectionGroupRoles
- description: Manage domains associated with organizations
  name: OrganizationDomains
- description: Manage permissions that can be assigned to roles
  name: Permissions
- description: Manage roles that can be assigned to users
  name: Roles
- description: Manage role assignments for users within organizations
  name: User Role
paths:
  /invitations/{invitationid}:
    delete:
      description: Delete or revoke an invitation by invitation id
      operationId: deleteInvitationByInvitationId
      parameters:
      - description: "The ID of the invitation. The ID is typically in the format\
          \ *inv_<unique_id>*, where *<unique_id>* is a string of alphanumeric characters."
        example: inv_123456789
        explode: false
        in: path
        name: invitationid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                INVITATION_ID_INVALID:
                  $ref: '#/components/examples/INVITATION_ID_REQUIRED'
                Invitation_ID_REQUIRED:
                  $ref: '#/components/examples/INVITATION_ID_REQUIRED'
                INVITATION_ACCEPTED:
                  $ref: '#/components/examples/INVITATION_ACCEPTED'
                INVITATION_EXPIRED:
                  $ref: '#/components/examples/INVITATION_EXPIRED'
                INVITATION_REVOKED:
                  $ref: '#/components/examples/INVITATION_REVOKED'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "404":
          content:
            application/json:
              examples:
                INVITATION_NOT_FOUND:
                  $ref: '#/components/examples/INVITATION_NOT_FOUND'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Not Found: The server cannot find the requested resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Delete/Revoke invitation by invitation id
      tags:
      - Invitations
      x-accepts:
      - application/json
    get:
      description: Get invitation details by invitation ID
      operationId: getInvitationByInvitationId
      parameters:
      - description: "The ID of the invitation. The ID is typically in the format\
          \ *inv_<unique_id>*, where *<unique_id>* is a string of alphanumeric characters."
        example: inv_123456789
        explode: false
        in: path
        name: invitationid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                INVITATION_ID_REQUIRED:
                  $ref: '#/components/examples/INVITATION_ID_REQUIRED'
                INVALID_INVITATION_ID:
                  $ref: '#/components/examples/INVALID_INVITATION_ID'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "404":
          content:
            application/json:
              examples:
                INVITATION_NOT_FOUND:
                  $ref: '#/components/examples/INVITATION_NOT_FOUND'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Not Found: The server cannot find the requested resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get invitation by invitation id
      tags:
      - Invitations
      x-accepts:
      - application/json
    put:
      description: Update invitation details by invitation id
      operationId: updateInvitationByInvitationId
      parameters:
      - description: "The ID of the invitation. The ID is typically in the format\
          \ *inv_<unique_id>*, where *<unique_id>* is a string of alphanumeric characters."
        example: inv_123456789
        explode: false
        in: path
        name: invitationid
        required: true
        schema:
          type: string
        style: simple
      - description: The URL to which the user will be redirected after accepting
          the invitation. This URL should be a valid URL and can include query parameters
          if needed.
        example: https://example.com/accept-invite
        explode: true
        in: query
        name: invitation_url
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInvitationByInvitationId_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                INVITATION_ID_INVALID:
                  $ref: '#/components/examples/INVITATION_ID_REQUIRED'
                INVALID_JSON_BODY:
                  $ref: '#/components/examples/INVALID_JSON_BODY'
                JSON_PUT_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                INVITATION_ID_REQUIRED:
                  $ref: '#/components/examples/INVITATION_ID_REQUIRED'
                ROLE_OR_RESEND_EMAIL_REQUIRED:
                  $ref: '#/components/examples/ROLE_OR_RESEND_EMAIL_REQUIRED'
                INVALID_INVITATION_URL:
                  $ref: '#/components/examples/INVALID_INVITATION_URL'
                INVITATION_ACCEPTED:
                  $ref: '#/components/examples/INVITATION_ACCEPTED'
                INVITATION_EXPIRED:
                  $ref: '#/components/examples/INVITATION_EXPIRED'
                INVITATION_REVOKED:
                  $ref: '#/components/examples/INVITATION_REVOKED'
                INVALID_ROLE_ID:
                  $ref: '#/components/examples/INVALID_ROLE_ID'
                INVALID_INVITER_UID:
                  $ref: '#/components/examples/INVALID_INVITER_UID'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "404":
          content:
            application/json:
              examples:
                INVITATION_NOT_FOUND:
                  $ref: '#/components/examples/INVITATION_NOT_FOUND'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
                ROLE_NOT_EXIST:
                  $ref: '#/components/examples/ROLE_NOT_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Not Found: The server cannot find the requested resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Update invitation by invitation id
      tags:
      - Invitations
      x-content-type: application/json
      x-accepts:
      - application/json
  /invitations:
    get:
      description: Get all invitations By Org id
      operationId: getInvitationsByOrgId
      parameters:
      - example: org_123456789
        explode: true
        in: query
        name: orgid
        required: true
        schema:
          description: The ID of the organization to retrieve invitations for.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInvitationsByOrgId_200_response'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                ORGANIZATION_ID_REQUIRED:
                  $ref: '#/components/examples/ORGANIZATION_ID_REQUIRED'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Not Found: The server cannot find the requested resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get all invitations By Org id
      tags:
      - Invitations
      x-accepts:
      - application/json
    post:
      description: Send a new invitation
      operationId: sendInvitation
      parameters:
      - description: The URL to which the user will be redirected after accepting
          the invitation. This URL should be a valid URL and can include query parameters
          if needed.
        example: https://example.com/accept-invite
        explode: true
        in: query
        name: invitation_url
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              email: user@example.com
              roleIds:
              - role_12345
              - role_67890
              orgId: org_123456789
              inviterUid: "123456789"
            schema:
              $ref: '#/components/schemas/SendInvitation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: Invitation sent successfully
        "400":
          content:
            application/json:
              examples:
                JSON_POST_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_POST_BODY_REQUIRED'
                INVALID_JSON_BODY:
                  $ref: '#/components/examples/INVALID_JSON_BODY'
                SEND_INVITATION_REQUIRED:
                  $ref: '#/components/examples/SEND_INVITATION_REQUIRED'
                INVALID_INVITATION_URL:
                  $ref: '#/components/examples/INVALID_INVITATION_URL'
                INVALID_EMAIL:
                  $ref: '#/components/examples/INVALID_EMAIL'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
                INVALID_ROLE_ID:
                  $ref: '#/components/examples/INVALID_ROLE_ID'
                INVALID_INVITER_UID:
                  $ref: '#/components/examples/INVALID_INVITER_UID'
                INVITATION_ALREADY_ACTIVE:
                  $ref: '#/components/examples/INVITATION_ALREADY_ACTIVE'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
                ROLE_NOT_EXIST:
                  $ref: '#/components/examples/ROLE_NOT_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Not Found: The server cannot find the requested resource."
        "409":
          content:
            application/json:
              examples:
                USER_EXISTS_IN_ORG:
                  $ref: '#/components/examples/USER_EXISTS_IN_ORG'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Send new invitation
      tags:
      - Invitations
      x-content-type: application/json
      x-accepts:
      - application/json
  /invitations/{invitationid}/resend:
    post:
      description: Resend invitation details by invitation id
      operationId: resendInvitationByInvitationId
      parameters:
      - description: "The ID of the invitation. The ID is typically in the format\
          \ *inv_<unique_id>*, where *<unique_id>* is a string of alphanumeric characters."
        example: inv_123456789
        explode: false
        in: path
        name: invitationid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendInvitation'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                INVITATION_ID_REQUIRED:
                  $ref: '#/components/examples/INVITATION_ID_REQUIRED'
                INVALID_INVITATION_ID:
                  $ref: '#/components/examples/INVALID_INVITATION_ID'
                INVITATION_ACCEPTED:
                  $ref: '#/components/examples/INVITATION_ACCEPTED'
                INVITATION_EXPIRED:
                  $ref: '#/components/examples/INVITATION_EXPIRED'
                INVITATION_REVOKED:
                  $ref: '#/components/examples/INVITATION_REVOKED'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "404":
          content:
            application/json:
              examples:
                INVITATION_NOT_FOUND:
                  $ref: '#/components/examples/INVITATION_NOT_FOUND'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Not Found: The server cannot find the requested resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Resend invitation by ID
      tags:
      - Invitations
      x-accepts:
      - application/json
  /organizations:
    get:
      description: Get a list of all organizations in the tenant
      operationId: GetAllOrganizations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllOrganizations_200_response'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get All Organizations
      tags:
      - Organization
      x-accepts:
      - application/json
    post:
      description: Create a new organization in the tenant
      operationId: CreateOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganization_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                DOMAIN_DUPLICATE:
                  $ref: '#/components/examples/DOMAIN_DUPLICATE'
                DOMAIN_NAME_INVALID:
                  $ref: '#/components/examples/DOMAIN_NAME_INVALID'
                DOMAIN_NO_VALID_MX_RECORD:
                  $ref: '#/components/examples/DOMAIN_NO_VALID_MX_RECORD'
                DOMAIN_SPAM_OR_GENERIC_DOMAIN:
                  $ref: '#/components/examples/DOMAIN_SPAM_OR_GENERIC_DOMAIN'
                JSON_POST_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_POST_BODY_REQUIRED'
                NAME_REQUIRED:
                  $ref: '#/components/examples/NAME_REQUIRED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                TRIAL_PLAN_ORG_LIMIT_REACHED:
                  $ref: '#/components/examples/TRIAL_PLAN_ORG_LIMIT_REACHED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                ORGANIZATION_ALREADY_EXIST:
                  $ref: '#/components/examples/ORGANIZATION_ALREADY_EXIST'
                ORGANIZATION_DOMAIN_ALREADY_EXIST:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_ALREADY_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Create Organization
      tags:
      - Organization
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}:
    delete:
      description: Delete an organization by its ID
      operationId: DeleteOrganization
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Delete Organization
      tags:
      - Organization
      x-accepts:
      - application/json
    get:
      description: Get details of a specific organization by its ID
      operationId: GetOrganization
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get Organization
      tags:
      - Organization
      x-accepts:
      - application/json
    put:
      description: Update an organization's details by its ID
      operationId: UpdateOrganization
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                DOMAIN_DUPLICATE:
                  $ref: '#/components/examples/DOMAIN_DUPLICATE'
                JSON_PUT_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_DOMAIN_CAN_NOT_DELETED:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_CAN_NOT_DELETED'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                ORGANIZATION_ALREADY_EXIST:
                  $ref: '#/components/examples/ORGANIZATION_ALREADY_EXIST'
                ORGANIZATION_DOMAIN_ALREADY_EXIST:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_ALREADY_EXIST'
                CONNECTION_DOMAIN_ALREADY_EXIST:
                  $ref: '#/components/examples/CONNECTION_DOMAIN_ALREADY_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Update Organization
      tags:
      - Organization
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}/connections:
    get:
      description: Get all identity provider connections for an organization
      operationId: GetAllOrganizationConnections
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllOrganizationConnections_200_response'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get All Organization Connections
      tags:
      - OrganizationConnections
      x-accepts:
      - application/json
    post:
      description: Create a new identity provider connection for an organization
      operationId: CreateOrganizationConnection
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationConnection_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                CONNECTION_TYPE_INVALID:
                  $ref: '#/components/examples/CONNECTION_TYPE_INVALID'
                CONNECTION_TYPE_REQUIRED:
                  $ref: '#/components/examples/CONNECTION_TYPE_REQUIRED'
                CUSTOM_MAPPING_INVALID:
                  $ref: '#/components/examples/CUSTOM_MAPPING_INVALID'
                JSON_POST_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_POST_BODY_REQUIRED'
                NAME_INVALID:
                  $ref: '#/components/examples/NAME_INVALID'
                NAME_REQUIRED:
                  $ref: '#/components/examples/NAME_REQUIRED'
                OIDC_IDP_ISSUER_INVALID:
                  $ref: '#/components/examples/OIDC_IDP_ISSUER_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
                CONN_SAML_IDP_CERTIFICATE_INVALID:
                  $ref: '#/components/examples/CONN_SAML_IDP_CERTIFICATE_INVALID'
                SAML_METADATA_ENDPOINT_INVALID:
                  $ref: '#/components/examples/SAML_METADATA_ENDPOINT_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_DOMAIN_NOT_VERIFIED:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_NOT_VERIFIED'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_DOMAIN_NOT_EXIST:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_NOT_EXIST'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                CONNECTION_ALREADY_EXIST:
                  $ref: '#/components/examples/CONNECTION_ALREADY_EXIST'
                CONNECTION_DOMAIN_ALREADY_EXIST:
                  $ref: '#/components/examples/CONNECTION_DOMAIN_ALREADY_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Create Organization Connection
      tags:
      - OrganizationConnections
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}/connections/{connId}:
    delete:
      description: Delete an identity provider connection from an organization
      operationId: DeleteOrganizationConnection
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Connection ID
        example: conn_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: connId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                CONNECTION_ID_INVALID:
                  $ref: '#/components/examples/CONNECTION_ID_INVALID'
                JSON_PUT_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
                STATUS_UPDATE_INVALID:
                  $ref: '#/components/examples/STATUS_UPDATE_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                STATUS_UPDATED_ALREADY:
                  $ref: '#/components/examples/STATUS_UPDATED_ALREADY'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Delete Organization Connection
      tags:
      - OrganizationConnections
      x-accepts:
      - application/json
    get:
      description: Get details of a specific identity provider connection
      operationId: GetOrganizationConnection
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Connection ID
        example: conn_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: connId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                CONNECTION_ID_INVALID:
                  $ref: '#/components/examples/CONNECTION_ID_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get Organization Connection
      tags:
      - OrganizationConnections
      x-accepts:
      - application/json
    put:
      description: Update an identity provider connection's configuration
      operationId: UpdateOrganizationConnection
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Connection ID
        example: conn_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: connId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationConnectionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                CONNECTION_ID_INVALID:
                  $ref: '#/components/examples/CONNECTION_ID_INVALID'
                CUSTOM_MAPPING_INVALID:
                  $ref: '#/components/examples/CUSTOM_MAPPING_INVALID'
                JSON_PUT_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                NAME_INVALID:
                  $ref: '#/components/examples/NAME_INVALID'
                OIDC_IDP_ISSUER_INVALID:
                  $ref: '#/components/examples/OIDC_IDP_ISSUER_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
                CONN_SAML_IDP_CERTIFICATE_INVALID:
                  $ref: '#/components/examples/CONN_SAML_IDP_CERTIFICATE_INVALID'
                SAML_METADATA_ENDPOINT_INVALID:
                  $ref: '#/components/examples/SAML_METADATA_ENDPOINT_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_DOMAIN_NOT_VERIFIED:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_NOT_VERIFIED'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_DOMAIN_NOT_EXIST:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_NOT_EXIST'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                CONNECTION_ALREADY_EXIST:
                  $ref: '#/components/examples/CONNECTION_ALREADY_EXIST'
                CONNECTION_DOMAIN_ALREADY_EXIST:
                  $ref: '#/components/examples/CONNECTION_DOMAIN_ALREADY_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Update Organization Connection
      tags:
      - OrganizationConnections
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}/connections/{connId}/grouproles:
    get:
      description: Get all group-to-role mappings for an identity provider connection
      operationId: GetAllConnectionGroupRoles
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Connection ID
        example: conn_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: connId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllConnectionGroupRoles_200_response'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                CONNECTION_ID_INVALID:
                  $ref: '#/components/examples/CONNECTION_ID_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get All Organization Connection Group Roles
      tags:
      - OrganizationConnectionGroupRoles
      x-accepts:
      - application/json
    post:
      description: Create a new group-to-role mapping for an identity provider connection
      operationId: CreateConnectionGroupRole
      parameters:
      - description: Organization Connection ID
        example: conn_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: connId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionGroupRole_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGroupRoleResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                CONNECTION_ID_INVALID:
                  $ref: '#/components/examples/CONNECTION_ID_INVALID'
                GROUP_ROLE_GROUP_ID_REQUIRED:
                  $ref: '#/components/examples/GROUP_ROLE_GROUP_ID_REQUIRED'
                GROUP_ROLE_ROLE_ID_INVALID:
                  $ref: '#/components/examples/GROUP_ROLE_ROLE_ID_INVALID'
                GROUP_ROLE_ROLE_ID_REQUIRED:
                  $ref: '#/components/examples/GROUP_ROLE_ROLE_ID_REQUIRED'
                INVALID_ROLE_ID:
                  $ref: '#/components/examples/INVALID_ROLE_ID'
                JSON_POST_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_POST_BODY_REQUIRED'
                NAME_INVALID:
                  $ref: '#/components/examples/NAME_INVALID'
                NAME_REQUIRED:
                  $ref: '#/components/examples/NAME_REQUIRED'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                GROUP_ROLE_NAME_ALREADY_EXIST:
                  $ref: '#/components/examples/GROUP_ROLE_NAME_ALREADY_EXIST'
                GROUP_ROLE_GROUP_ID_ALREADY_EXIST:
                  $ref: '#/components/examples/GROUP_ROLE_GROUP_ID_ALREADY_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Create Organization Connection Group Roles
      tags:
      - OrganizationConnectionGroupRoles
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}/connections/{connId}/grouproles/{groupRoleId}:
    delete:
      description: Delete a specific group-to-role mapping
      operationId: DeleteConnectionGroupRole
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Connection ID
        example: conn_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: connId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Connection Group Role ID
        example: group_role_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: groupRoleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                CONNECTION_ID_INVALID:
                  $ref: '#/components/examples/CONNECTION_ID_INVALID'
                GROUP_ROLE_ID_INVALID:
                  $ref: '#/components/examples/GROUP_ROLE_ID_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                GROUP_ROLE_NOT_EXIST:
                  $ref: '#/components/examples/GROUP_ROLE_NOT_EXIST'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                GROUP_ROLE_NAME_ALREADY_EXIST:
                  $ref: '#/components/examples/GROUP_ROLE_NAME_ALREADY_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Delete Organization Connection Group Roles
      tags:
      - OrganizationConnectionGroupRoles
      x-accepts:
      - application/json
    put:
      description: Update a specific group-to-role mapping
      operationId: UpdateConnectionGroupRole
      parameters:
      - description: Organization Connection ID
        example: conn_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: connId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Connection Group Role ID
        example: group_role_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: groupRoleId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionGroupRoleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGroupRoleResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                CONNECTION_ID_INVALID:
                  $ref: '#/components/examples/CONNECTION_ID_INVALID'
                GROUP_ROLE_GROUP_ID_REQUIRED:
                  $ref: '#/components/examples/GROUP_ROLE_GROUP_ID_REQUIRED'
                GROUP_ROLE_ID_INVALID:
                  $ref: '#/components/examples/GROUP_ROLE_ID_INVALID'
                GROUP_ROLE_ROLE_ID_INVALID:
                  $ref: '#/components/examples/GROUP_ROLE_ROLE_ID_INVALID'
                GROUP_ROLE_ROLE_ID_REQUIRED:
                  $ref: '#/components/examples/GROUP_ROLE_ROLE_ID_REQUIRED'
                INVALID_ROLE_ID:
                  $ref: '#/components/examples/INVALID_ROLE_ID'
                JSON_POST_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_POST_BODY_REQUIRED'
                NAME_INVALID:
                  $ref: '#/components/examples/NAME_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                GROUP_ROLE_NOT_EXIST:
                  $ref: '#/components/examples/GROUP_ROLE_NOT_EXIST'
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                GROUP_ROLE_NAME_ALREADY_EXIST:
                  $ref: '#/components/examples/GROUP_ROLE_NAME_ALREADY_EXIST'
                GROUP_ROLE_GROUP_ID_ALREADY_EXIST:
                  $ref: '#/components/examples/GROUP_ROLE_GROUP_ID_ALREADY_EXIST'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Update Organization Connection Group Roles
      tags:
      - OrganizationConnectionGroupRoles
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}/connections/{connId}/status:
    put:
      description: Update the active status of an identity provider connection
      operationId: UpdateConnectionStatus
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Connection ID
        example: conn_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: connId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionStatusResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Update Organization Connection Status
      tags:
      - OrganizationConnections
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}/domains:
    get:
      description: Get all domains associated with an organization
      operationId: GetAllOrganizationDomains
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllOrganizationDomains_200_response'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: List of Organization Domains
      tags:
      - OrganizationDomains
      x-accepts:
      - application/json
    post:
      description: Add Organization Domain
      operationId: AddOrganizationDomain
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrganizationDomain_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsDomainsResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                DOMAIN_NO_VALID_MX_RECORD:
                  $ref: '#/components/examples/DOMAIN_NO_VALID_MX_RECORD'
                DOMAIN_SPAM_OR_GENERIC_DOMAIN:
                  $ref: '#/components/examples/DOMAIN_SPAM_OR_GENERIC_DOMAIN'
                JSON_POST_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_POST_BODY_REQUIRED'
                ORGANIZATION_DOMAIN_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_ID_INVALID'
                ORGANIZATION_DOMAIN_NAME_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_NAME_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Add Organization Domain
      tags:
      - OrganizationDomains
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}/domains/{domainId}:
    delete:
      description: Delete Organization Domain
      operationId: DeleteOrganizationDomain
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Domain ID
        example: org_domain_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                ORGANIZATION_DOMAIN_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_ID_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_DOMAIN_CAN_NOT_DELETED:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_CAN_NOT_DELETED'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Delete Organization Domain
      tags:
      - OrganizationDomains
      x-accepts:
      - application/json
    get:
      description: Get Organization Domain
      operationId: GetOrganizationDomain
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization Domain ID
        example: org_domain_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsDomainsResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get Organization Domain
      tags:
      - OrganizationDomains
      x-accepts:
      - application/json
    post:
      description: Verify Organization Domain
      operationId: VerifyOrganizationDomain
      parameters:
      - description: Organization Domain ID
        example: org_domain_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          type: string
        style: simple
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsDomainsResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                DOMAIN_TXT_RECORD_FAILED:
                  $ref: '#/components/examples/DOMAIN_TXT_RECORD_FAILED'
                ORGANIZATION_DOMAIN_ALREADY_VERIFY:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_ALREADY_VERIFY'
                ORGANIZATION_DOMAIN_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_DOMAIN_ID_INVALID'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Verify Organization Domain
      tags:
      - OrganizationDomains
      x-accepts:
      - application/json
  /organizations/{orgId}/policy:
    put:
      description: Update Organization Policy
      operationId: UpdateOrganizationPolicy
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationsPolicyBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsPolicyBase'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                JSON_PUT_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
                ORGANIZATION_MEMBER_ROLE_NOT_VALID:
                  $ref: '#/components/examples/ORGANIZATION_MEMBER_ROLE_NOT_VALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                ORGANIZATION_JIT_POLICY_NOT_ALLOWED:
                  $ref: '#/components/examples/ORGANIZATION_JIT_POLICY_NOT_ALLOWED'
                ORGANIZATION_ENABLE_MFA_ENFORCEMENT_NOT_ALLOWED:
                  $ref: '#/components/examples/ORGANIZATION_ENABLE_MFA_ENFORCEMENT_NOT_ALLOWED'
                ORGANIZATION_DISABLE_MFA_ENFORCEMENT_NOT_ALLOWED:
                  $ref: '#/components/examples/ORGANIZATION_DISABLE_MFA_ENFORCEMENT_NOT_ALLOWED'
                ORGANIZATION_MFA_FORCE_AUTHENTICATORS_DISABLED:
                  $ref: '#/components/examples/ORGANIZATION_MFA_FORCE_AUTHENTICATORS_DISABLED'
                ORGANIZATION_MFA_ENFORCEMENT_ONLY_FORCE_ALLOWED:
                  $ref: '#/components/examples/ORGANIZATION_MFA_ENFORCEMENT_ONLY_FORCE_ALLOWED'
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                ORGANIZATION_NOT_ACTIVE:
                  $ref: '#/components/examples/ORGANIZATION_NOT_ACTIVE'
                ORGANIZATION_MFA_ENFORCEMENT_NOT_ALLOWED:
                  $ref: '#/components/examples/ORGANIZATION_MFA_ENFORCEMENT_NOT_ALLOWED'
                ORGANIZATION_MFA_NONE_ENFORCEMENT_NOT_ALLOWED:
                  $ref: '#/components/examples/ORGANIZATION_MFA_NONE_ENFORCEMENT_NOT_ALLOWED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Update Organization Policy
      tags:
      - Organization
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{orgId}/status:
    put:
      description: Update Organization Status
      operationId: UpdateOrganizationStatus
      parameters:
      - description: Organization ID
        example: org_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationsStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsStatusResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                JSON_PUT_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_PUT_BODY_REQUIRED'
                ORGANIZATION_ID_INVALID:
                  $ref: '#/components/examples/ORGANIZATION_ID_INVALID'
                STATUS_UPDATE_INVALID:
                  $ref: '#/components/examples/STATUS_UPDATE_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Bad Request: The request could not be understood by\
            \ the server due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "404":
          content:
            application/json:
              examples:
                ORGANIZATION_NOT_FOUND:
                  $ref: '#/components/examples/ORGANIZATION_NOT_FOUND'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "409":
          content:
            application/json:
              examples:
                STATUS_UPDATED_ALREADY:
                  $ref: '#/components/examples/STATUS_UPDATED_ALREADY'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Forbidden: The client does not have permission to access\
            \ the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Status Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Update Organization Status
      tags:
      - Organization
      x-content-type: application/json
      x-accepts:
      - application/json
  /permissions:
    get:
      description: Get the list of permissions
      operationId: Permissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permissions_200_response'
          description: "OK: The request was successful."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Get Permission list
      tags:
      - Permissions
      x-accepts:
      - application/json
    post:
      description: Add a new permission
      operationId: AddPermission
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionsPostRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permissions'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                JSON_POST_BODY_REQUIRED:
                  $ref: '#/components/examples/JSON_POST_BODY_REQUIRED'
                PARAMETER_NOT_WELL_FORMATTED_REQUIRED:
                  $ref: '#/components/examples/PARAMETER_NOT_WELL_FORMATTED_REQUIRED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "409":
          content:
            application/json:
              examples:
                DUPLICATE_PERMISSION_NAME:
                  $ref: '#/components/examples/DUPLICATE_PERMISSION_NAME'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Conflict: The request could not be completed due to a conflict\
            \ with the current state of the resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Add Permission
      tags:
      - Permissions
      x-content-type: application/json
      x-accepts:
      - application/json
  /permissions/{id}:
    delete:
      description: Delete a permission
      operationId: DeletePermission
      parameters:
      - description: The unique identifier for the permission
        example: perm_2enk23n3
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                PERMISSION_ID_REQUIRED:
                  $ref: '#/components/examples/PERMISSION_ID_REQUIRED'
                PERMISSION_ID_INVALID:
                  $ref: '#/components/examples/PERMISSION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "500":
          content:
            application/json:
              examples:
                OPERATION_FAILED:
                  $ref: '#/components/examples/OPERATION_FAILED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error: The server encountered an unexpected\
            \ error."
      summary: Delete Permission
      tags:
      - Permissions
      x-accepts:
      - application/json
    get:
      description: Get a permission by its ID
      operationId: GetPermissionById
      parameters:
      - description: The unique identifier for the permission
        example: perm_2enk23n3
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permissions'
          description: "OK: The request was successful."
        "400":
          content:
            application/json:
              examples:
                PERMISSION_ID_REQUIRED:
                  $ref: '#/components/examples/PERMISSION_ID_REQUIRED'
                PERMISSION_ID_INVALID:
                  $ref: '#/components/examples/PERMISSION_ID_INVALID'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The request could not be understood by the server\
            \ due to malformed syntax."
        "403":
          content:
            application/json:
              examples:
                UNAUTHORIZED_ACCESS:
                  $ref: '#/components/examples/UNAUTHORIZED_ACCESS'
                B2B_NOT_ENABLED:
                  $ref: '#/components/examples/B2B_NOT_ENABLED'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Forbidden: The client does not have permission to access the\
            \ resource."
        "500":
          content:
            application/json:
              examples:
[...]
